<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-item>
		<ion-label floating>Email</ion-label>
		<ion-input type="email"[(ngModel)]="user.email"></ion-input>
	</ion-item>

	<ion-item>
			<ion-label floating>Senha</ion-label>
			<ion-input type="password"[(ngModel)]="user.senha"></ion-input>
	</ion-item>

	<button ion-button full (click)="login(user)">Login</button>
	<button ion-button full (click)="registrar()">Registrar</button>
	<button ion-button full icon-left color = "googleplus" (click)="googleLogin()">
			<ion-icon name="logo-googleplus"></ion-icon>
			SignIn com Google
	</button>
<!--
	<section *ngIf="afAuth.authState | async; let user; else showLogin">
		<h1>Welcome {{user.email}}!</h1>
		<button (click)="logout()" ion-button full>Logout</button>
	</section>

	<ng-template #showLogin>
		<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
			<ion-item>
				<ion-label floating>email</ion-label>
				<ion-input type="email" name="email"[(ngModel)]="email"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label floating>senha</ion-label>
				<ion-input type="password" name="senha" [(ngModel)]="senha"></ion-input>
			</ion-item>
			<ion-item>
				<button ion-button full type="submit">Login</button>
			</ion-item>
		</form>
		<ion-item>
			<button ion-button full type="submit" (click) ="signupPage()"> SignUp </button>
			<button ion-button full icon-left color = "googleplus" (click)="googleLogin()">
				<ion-icon name="logo-googleplus"></ion-icon>
				SignIn com Google
			</button>
		</ion-item>
		
	</ng-template>
-->	
</ion-content>
