<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>Primeiro nome</ion-label>
    <ion-input [(ngModel)]="profile.primeiroNome"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label floating>Último nome</ion-label>
      <ion-input [(ngModel)]="profile.ultimoNome"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label floating>email</ion-label>
      <ion-input [(ngModel)]="profile.email"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label floating>Telefone</ion-label>
      <ion-input [(ngModel)]="profile.telefone"></ion-input>
  </ion-item>

  <button ion-button full (click)="cadastrarPerfil()">Cadastrar</button>

</ion-content>
