<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary" >
    <ion-title>Home</ion-title>
    <button ion-button menuToggle>
      <ion-icon name ="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <h1  text-center>Dados em tempo real</h1>
  </ion-row>
    <ion-row>
      <ion-col col-50>
        <ion-card>
          <ion-card-header>
            Temperatura
            <ion-icon name="thermometer" center ></ion-icon>
          </ion-card-header>
          <ion-card-content>
              <ion-col text-center>
                <ion-label>{{temperaturaNow}}° Celcius</ion-label>
              </ion-col>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-50>
        <ion-card>
            <ion-card-header>
              Umidade do ar
              <ion-icon name="cloud" class="ion-2x"></ion-icon>
            </ion-card-header>
            <ion-card-content>
              <ion-col text-center>
                <ion-label>{{umidadeArNow}} % </ion-label>
              </ion-col>
            </ion-card-content>
          </ion-card>
        </ion-col>
       <ion-col col-50>
        <ion-card icon-right>
              <ion-card-header>
                umidade do solo
                <ion-icon name="leaf" class="ion-2x"></ion-icon>
              </ion-card-header>
              <ion-card-content>
                <ion-col text-center>
                  <ion-label>{{umidadeSoloNow}} %</ion-label>
                </ion-col>
              </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button full>Ativar irrigação</button>
    </ion-row>
  <!--
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="umidadeSolo.tipo" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input [(ngModel)]="umidadeSolo.valor" type="number" placeholder = ""></ion-input>
    </ion-item>
    <ion-item>
        <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="umidadeSolo.data"></ion-datetime>
    </ion-item>
    <button ion-button full (click)="addTemperatura(umidadeSolo)" >Enviar</button>
  </ion-list>
-->
  <ion-list>
    <ion-list-header>Temperatura</ion-list-header>
    <ion-item *ngFor="let temperatura of (temperaturaList$ | async)">
      <ion-label>Dia / Hora: {{temperatura.data}}</ion-label>
      <ion-label>{{temperatura.valor}}° Celcius</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Umidade do ar</ion-list-header>
    <ion-item *ngFor="let umidadeAr of (umidadeArList$ | async)">
        <ion-label>Dia / Hora: {{umidadeAr.data}}</ion-label>
        <ion-label>{{umidadeAr.valor}}%</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
      <ion-list-header>Umidade do solo</ion-list-header>
      <ion-item *ngFor="let umidadeSolo of (umidadeSoloList$ | async)">
          <ion-label>Dia / Hora: {{umidadeSolo.data}}</ion-label>
          <ion-label>{{umidadeSolo.valor}}%</ion-label>
      </ion-item>
  </ion-list>
  <ion-card>
      <ion-card-header>
        Gráfico
      </ion-card-header>
      <ion-card-content>
          <canvas #lineCanvas></canvas>
      </ion-card-content>
  </ion-card>
</ion-content>