<!--
  Generated template for the GraficoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Gráfico</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>
    <h1>Gráficos dos últimos dados</h1>
  </ion-row>
  <ion-row>
    <ion-card>
        <ion-card-header>
          Gráfico de temperatura
        </ion-card-header>
        <ion-card-content>
            <canvas #lineChart height="400" width="600"></canvas>
        </ion-card-content>
    </ion-card>
  </ion-row>

</ion-content>
