<ion-menu [content]='menu'>
    <ion-content>
        <ion-list>
            <button ion-button full menuClose color="secondary">Home 
                    <ion-icon name="home"></ion-icon>
            </button>
            <button ion-button full menuClose color="secondary" (click)="GoToPerfilPage()">Meu perfil 
                    <ion-icon name="person"></ion-icon>
            </button>
            <button ion-button full menuClose color="secondary" (click)="GoToGraficoPage()">Gráficos 
                    <ion-icon name="stats"></ion-icon>
            </button>
            <button ion-button full menuClose color="secondary">Relatórios 
                    <ion-icon name="clipboard"></ion-icon>
            </button>
            <button ion-button full menuClose color="secondary">Configuraçoes 
                    <ion-icon name="construct"></ion-icon>
            </button>
            <button ion-button full menuClose color="secondary">Sobre 
                    <ion-icon name="information-circle"></ion-icon>
            </button>
            <button ion-button full menuClose color="danger" full (click)="logout()">Logout</button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #menu></ion-nav>
