<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
        <ion-item>
          <ion-label floating>email</ion-label>
          <ion-input type="email" name="email"[(ngModel)]="user.email"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label floating>senha</ion-label>
          <ion-input type="password" name="senha" [(ngModel)]="user.senha"></ion-input>
        </ion-item>
    
        <button ion-button full type="submit" (click)="registrar(user)">SignUp</button>

</ion-content>
